<%= form_with(model: dock) do |form| %>
  <% if dock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dock.errors.count, "error") %> prohibited this dock from being saved:</h2>

      <ul>
        <% dock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div>
    <% form.file_field :files, multiple: true, direct_upload: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
