<p style="color: green"><%= notice %></p>

<%= render @dock %>

<div>
  <%= link_to "Edit this dock", edit_dock_path(@dock) %> |
  <%= link_to "Back to docks", docks_path %>

  <%= button_to "Destroy this dock", @dock, method: :delete %>
</div>
